#stripe-saved-cards {
	width: inherit;
	
	input[type="radio"] {
		margin: 0;
	}
}
.StripeElement {
  background-color: white;
  height: 85px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
#StripeLabel {
	font-size: 16px;
    font-variant: normal;
    padding: 15px 8px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-align:left;
    
}

/*
	for this error style, it is best to add the #card-errors selector to your existing error declaration 
*/
#card-errors {
	background: none;
	border-color: $sangria;
	color: $sangria;
}

#stripe-payment-errors {
	clear:both;
}